.sheet-core {
    color: black;
    font-size: 13px;
    line-height: 15px;
    margin: 0;
    overflow: visible;
    padding: 0;
}

.sheet-core button[type=roll]:before{
    content: none !important;
}

.sheet-core input[type=number]::-webkit-inner-spin-button, 
.sheet-core input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none; 
    margin: 0; 
}

.sheet-darkmode .sheet-core{
    background-color: #1f1f1f;
    color: white;
}

.sheet-core .sheet-section-main {
    width: 800px;
}

.sheet-core .sheet-section-main .sheet-main-header{
    width: 800px;
    display: flex;
    margin-bottom: 5px;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-avatar,
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details{
    height: 125px;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details{
    width: 675px;
    display: grid;
    grid-template-areas: 'name name name'
    'ancestry ancestry ancestry'
    'mortal mortal level'
    'cultivator cultivator realm';
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail{
    display: flex;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail .sheet-detail-label{
    min-width: fit-content;
    font-size: 13px;
    align-content: space-around;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail .sheet-detail-value,
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail .sheet-detail-value input{
    width: 100%;
    height: 25px;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail .sheet-detail-value input{
    margin-left: 2px;
    background: none;
    border: none;
    border-bottom: solid 1px;
    font-weight: 600;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-name{
    grid-area: name;
}
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-ancestry_species{
    grid-area: ancestry;
}
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-mortal-path{
    grid-area: mortal;
}
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-mortal-level{
    grid-area: level;
}
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-cultivator-path{
    grid-area: cultivator;
}
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-cultivator-realm{
    grid-area: realm;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-mortal-level,
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-cultivator-realm{
    margin-left: 5px;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-avatar,
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-avatar img{
    width: 125px;
    max-width: 125px;
    height: 125px;
    max-height: 125px;
}

.sheet-pages {
    position: relative;
    width: 800px;
}

.sheet-pages::after {
    clear: both;
    content: '';
    display: block;
}

.sheet-pages .sheet-page {
    width: 800px;
}

.sheet-pages .sheet-page:nth-of-type(2) > input[type="radio"],
.sheet-pages .sheet-page:nth-of-type(2) > .sheet-page-label {
    margin-left: 16.667%;
} 

.sheet-pages .sheet-page:nth-of-type(3) > input[type="radio"],
.sheet-pages .sheet-page:nth-of-type(3) > .sheet-page-label {
    margin-left: 33.334%;
}

.sheet-pages .sheet-page:nth-of-type(4) > input[type="radio"],
.sheet-pages .sheet-page:nth-of-type(4) > .sheet-page-label {
    margin-left: 50%;
}

.sheet-pages .sheet-page:nth-of-type(5) > input[type="radio"],
.sheet-pages .sheet-page:nth-of-type(5) > .sheet-page-label {
    margin-left: 66.668%;
}

.sheet-pages .sheet-page:nth-of-type(6) > input[type="radio"],
.sheet-pages .sheet-page:nth-of-type(6) > .sheet-page-label {
    margin-left: 83.335%;
}

.sheet-pages .sheet-page > input[type="radio"] {
    height: 30px;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 16.667%;
    z-index: 1;
}

.sheet-pages .sheet-page > input[type="radio"]:hover ~ .sheet-page-label {
    background: #e5fffb;
    border-bottom-color: #dbfff9;
}

.sheet-darkmode .sheet-pages .sheet-page > input[type="radio"]:hover ~ .sheet-page-label {
    background: #677270;
    border-bottom-color: #5e6e6c;
}

.sheet-pages .sheet-page > .sheet-page-label {
    align-items: center;
    background: #dddddd;
    border-radius: 6px 6px 0 0;
    border: 2px solid #dddddd;
    color: #8a8a8a;
    display: flex;
    font-size: 11px;
    font-variant: small-caps;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    margin: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 16.667%;
    border-left-color: white;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: lightgrey;
}

.sheet-darkmode .sheet-pages .sheet-page > .sheet-page-label{
    background: #333333;
    border: 2px solid #444444;
    color: #e6e6e6;
    border-left-color: black;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: #333333;
}

.sheet-pages .sheet-page > input[type="radio"]:checked ~ .sheet-page-label {
    background: white;
    border-color: #575757;
    border-bottom-color: white;
    color: black;
}

.sheet-darkmode .sheet-pages .sheet-page > input[type="radio"]:checked ~ .sheet-page-label{
    background: #444444;
    border-color: black;
    border-bottom-color: #333333;
    color: #e6e6e6;
}

.sheet-pages .sheet-page > input[type="radio"]:checked {
    cursor: auto;
}

.sheet-pages .sheet-page > input[type="radio"]:checked ~ .sheet-page-content {
    display: block;
}

.sheet-pages .sheet-page .sheet-page-content {
    display: none;
    padding-top: 35px;
}

.sheet-core .sheet-pages .sheet-page-mortal .sheet-page-content .sheet-well-attributes,
.sheet-core .sheet-pages .sheet-page-cultivator .sheet-page-content .sheet-well-attributes{
    display: flex;
}

.sheet-core .sheet-pages .sheet-page-mortal .sheet-page-content .sheet-well-attributes .sheet-container-attribute:first-of-type,
.sheet-core .sheet-pages .sheet-page-cultivator .sheet-page-content .sheet-well-attributes .sheet-container-attribute:first-of-type{
    margin-left: 0;
}

.sheet-core .sheet-pages .sheet-page-mortal .sheet-page-content .sheet-well-attributes .sheet-container-attribute:last-of-type,
.sheet-core .sheet-pages .sheet-page-cultivator .sheet-page-content .sheet-well-attributes .sheet-container-attribute:last-of-type{
    margin-left: 0;
}

.sheet-darkmode .sheet-core .sheet-pages .sheet-page-mortal .sheet-page-content .sheet-well-attributes .sheet-container-attribute,
.sheet-darkmode .sheet-core .sheet-pages .sheet-page-cultivator .sheet-page-content .sheet-well-attributes .sheet-container-attribute{
    background-image: url(https://raw.githubusercontent.com/Venator-Ignis/ROll20_JTTH_Sheet/main/src/dark-sheet-box-border.png);
    width: 134px;
    border: 0;
    margin: 0 !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    border-radius: 5px;
    position: relative;
    padding-bottom: 10px;
    height: 85px;
    text-align: center;
}

.sheet-core .sheet-pages .sheet-page-mortal .sheet-page-content .sheet-well-attributes .sheet-container-attribute,
.sheet-core .sheet-pages .sheet-page-cultivator .sheet-page-content .sheet-well-attributes .sheet-container-attribute{
    background: url(https://raw.githubusercontent.com/Venator-Ignis/ROll20_JTTH_Sheet/main/src/sheet-box-border.png);
    width: 134px;
    border: 0;
    margin: 0 !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    border-radius: 5px;
    position: relative;
    padding-bottom: 10px;
    height: 85px;
    text-align: center;
}


.sheet-core .sheet-section-roll {
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: -18px;
    height: 18px;
}

.sheet-core .sheet-section-roll-whisper label {
    position: relative;
}

.sheet-core .sheet-section-roll-whisper label:first-of-type span {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid #b7b7b7;
}

.sheet-core .sheet-section-roll-whisper label:last-of-type span {
    border-radius: 0 4px 4px 0;
}

.sheet-core .sheet-section-roll-whisper label span {
    background: #dddddd;
    padding: 1px 5px;
    font-weight: bold;
    border: 1px solid #b7b7b7;
    border-left: 0;
    color: #909090;
}

.sheet-core .sheet-section-roll-whisper label input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.sheet-core .sheet-section-roll-whisper label input:checked ~ span {
    background: #555555;
    color: white;
    border-color: #555555;
}

.sheet-core .sheet-section-roll-whisper label input:not(:checked):hover ~ span {
    color: black;
}  

.sheet-core .sheet-roll-toggle[value*="whispertoggle"] + .sheet-section-roll-whisper {
    display: flex;
}

.sheet-core .sheet-section-roll-whisper {
    margin-left: 3px;
    display: flex;
}

.sheet-core .sheet-container-attribute .sheet-container-header button {
    background: none;
    border: 0;
    box-shadow: none;
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

.sheet-core .sheet-container-attribute .sheet-container-body {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center; 
    height: 50px;
}

.sheet-core .sheet-container-attribute .sheet-container-footer {
    padding: 5px 22px 5px; 
}

.sheet-core .sheet-container-attribute .sheet-container-footer input {
    background: none;
    border: 0;
    box-shadow: none;
    font-weight: bold;
    padding: 0;
    text-align: center;
    width: 100%;
    border-radius: 10%; 
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sheet-core .sheet-container-attribute .sheet-container-footer input:hover, 
.sheet-core .sheet-container-attribute .sheet-container-footer input:focus {
    background: #e5fffb; 
}

.sheet-core .sheet-container-attribute .sheet-container-footer input:hover ~ span, 
.sheet-core .sheet-container-attribute .sheet-container-footer input:focus ~ span {
    display: none; 
}

.sheet-core .sheet-container-attribute .sheet-container-footer span {
    display: block;
    margin-top: -18px;
    text-align: center;
    background: white;
    border-radius: 10%;
    position: relative;
    font-weight: bold; 
}

.sheet-core .sheet-container-attribute .sheet-container-footer span:hover {
    display: none; 
}

.sheet-core .sheet-button-attribute-title{
    font-size: 10px;
}

.sheet-darkmode .sheet-core .sheet-button-attribute-title,
.sheet-darkmode .sheet-core .sheet-detail-value{
    color: white;
}

.sheet-pages .sheet-page .sheet-page-content .sheet-container-columns{
    display: flex;
    flex-direction: row;
}

.sheet-pages .sheet-page .sheet-page-content .sheet-container-columns .col1,
.sheet-pages .sheet-page .sheet-page-content .sheet-container-columns .col3{
    width: 225px;
}

.sheet-pages .sheet-page .sheet-page-content .sheet-container-columns .col2{
    width: 350px;
}

.charsheet .sheet-core .sheet-container-skills .sheet-skill{
    height: 20px;
}

.charsheet .sheet-core .sheet-container-skills .sheet-skill button{
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
}

.charsheet .sheet-core .sheet-container-skills .sheet-skill button > :last-child::before {
    content: "(";
}

.charsheet .sheet-core .sheet-container-skills .sheet-skill button span:last-child{
    border-radius: 5px;
    background: #dddddd;
    float: right;
    max-width: 89px;
    overflow: auto;
    text-overflow: ellipsis;
}

.sheet-darkmode .sheet-core .sheet-container-skills .sheet-skill button span:last-child{
    background: #444444;
}

.charsheet .sheet-core .sheet-container-skills .sheet-skill button span:last-child::after {
    content: ")";
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio > input[type="radio"]:checked ~ .sheet-page-content {
    display: grid;
    grid-template-columns: auto 262.5px;
    grid-template-rows: 355px auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: "details features"
    "memories features";
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-container-well-details {
    grid-area: details;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: "details gimmick"
    "details value"
    "details conflict"
    "details want";
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-container-well-memories {
    grid-area: memories;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: "skills memories"
    "skills notes";
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-container-well-features {
    grid-area: features;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: "features";
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details {
    grid-area: details;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail {
    display: flex;
    height: 20px;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail:not(:last-of-type) {
    margin-bottom: 3px;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail * + * {
    margin-left: 5px;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail label,
.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail input,
.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail select {
    font-size: 11px;
    height: 20px;
    padding: 0;
    line-height: 20px;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 0 4px;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail select {
    cursor: pointer;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail input,
.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail select {
    width: 100%;
    min-width: 0;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail label {
    white-space: nowrap;
    font-size: 9px;
    background: #dddddd;
    border-radius: 3px;
    width: 60px;
    font-weight: bold;
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
}

.sheet-darkmode .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail label {
    color: #e6e6e6;
    background: #333333;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail-column * {
    margin: 0;
    flex-shrink: 0;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail-habit,
.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail-motivation,
.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail-feature {
    height: auto;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail-habit label,
.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail-motivation label,
.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail-feature label {
    height: 100%;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail-quest {
    height: 75px;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail-quest label {
    height: 100%;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-details .sheet-pc-detail-quest textarea {
    height: 100%;
    font-size: 11px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    resize: none;
    padding: 0 4px;
    line-height: 13px;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-gimmick {
    grid-area: gimmick;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-value {
    grid-area: value;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-conflict {
    grid-area: conflict;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-want {
    grid-area: want;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-memories {
    grid-area: memories;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-memories .repitem + .repitem {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #dddddd;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-memories .sheet-pc-memory {
    font-size: 11px;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-memories .sheet-pc-memory span:first-of-type {
    font-weight: bold;
    background: #dddddd;
    padding: 3px 5px;
    border-radius: 3px;
}

.sheet-darkmode .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-memories .sheet-pc-memory span:first-of-type {
    background: #666666;
}

.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-gimmick textarea,
.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-value textarea,
.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-conflict textarea,
.charsheet .sheet-core .sheet-pages .sheet-page-bio .sheet-pc-want textarea {
    flex-grow: 1;
    min-height: 39px;
    font-size: 11px;
    border: 0;
    padding: 0;
    resize: none;
    margin: 0;
    height: auto;
    line-height: 13px;
}

.charsheet .sheet-core .sheet-page-bio .sheet-container-well-details {
    grid-area: details;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: "details gimmick"
    "details value"
    "details conflict"
    "details want";
}

.charsheet .sheet-core .sheet-page-bio .sheet-container-well-memories {
    grid-area: memories;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: "skills memories"
    "skills notes";
}

.charsheet .sheet-core .sheet-page-bio .sheet-container-well-features {
    grid-area: features;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: "features";
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details {
    grid-area: details;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail {
    display: flex;
    height: 20px;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail:not(:last-of-type) {
    margin-bottom: 3px;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail * + * {
    margin-left: 5px;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail label,
.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail input,
.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail select {
    font-size: 11px;
    height: 20px;
    padding: 0;
    line-height: 20px;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 0 4px;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail select {
    cursor: pointer;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail input,
.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail select {
    width: 100%;
    min-width: 0;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail label {
    white-space: nowrap;
    font-size: 9px;
    background: #dddddd;
    border-radius: 3px;
    width: 60px;
    font-weight: bold;
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
}

.sheet-darkmode .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail label {
    color: #e6e6e6;
    background: #333333;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail-column * {
    margin: 0;
    flex-shrink: 0;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail-habit,
.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail-motivation,
.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail-feature {
    height: auto;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail-habit label,
.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail-motivation label,
.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail-feature label {
    height: 100%;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail-quest {
    height: 75px;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail-quest label {
    height: 100%;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-details .sheet-pc-detail-quest textarea {
    height: 100%;
    font-size: 11px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    resize: none;
    padding: 0 4px;
    line-height: 13px;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-gimmick {
    grid-area: gimmick;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-value {
    grid-area: value;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-conflict {
    grid-area: conflict;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-want {
    grid-area: want;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-memories {
    grid-area: memories;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-memories .repitem + .repitem {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #dddddd;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-memories .sheet-pc-memory {
    font-size: 11px;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-memories .sheet-pc-memory span:first-of-type {
    font-weight: bold;
    background: #dddddd;
    padding: 3px 5px;
    border-radius: 3px;
}

.sheet-darkmode .sheet-core .sheet-page-bio .sheet-pc-memories .sheet-pc-memory span:first-of-type {
    background: #666666;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-gimmick textarea,
.charsheet .sheet-core .sheet-page-bio .sheet-pc-value textarea,
.charsheet .sheet-core .sheet-page-bio .sheet-pc-conflict textarea,
.charsheet .sheet-core .sheet-page-bio .sheet-pc-want textarea {
    flex-grow: 1;
    min-height: 39px;
    font-size: 11px;
    border: 0;
    padding: 0;
    resize: none;
    margin: 0;
    height: auto;
    line-height: 13px;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-features {
    grid-area: features;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-custom-rolls{
    grid-area: skills;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-custom-rolls .sheet-checkbox-cog:hover span,
.charsheet .sheet-core .sheet-page-bio .sheet-pc-features .sheet-checkbox-cog:hover span {
    color: white;
    opacity: 1;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-custom-rolls .repitem + .repitem,
.charsheet .sheet-core .sheet-page-bio .sheet-pc-features .repitem + .repitem {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #dddddd;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-custom-rolls .sheet-pc-tool,
.charsheet .sheet-core .sheet-page-bio .sheet-pc-features .sheet-pc-feature {
    font-size: 11px;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-custom-rolls .sheet-pc-tool button,
.charsheet .sheet-core .sheet-page-bio .sheet-pc-features .sheet-pc-feature button {
    background: none;
    border: 0;
    box-shadow: none;
    width: 100%;
    text-shadow: none;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-features .sheet-pc-feature button:hover {
    background: #e5fffb;
}

.sheet-darkmode .sheet-core .sheet-page-bio .sheet-pc-features .sheet-pc-feature button:hover {
    background: #4b5553;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-custom-rolls .sheet-pc-tool,
.charsheet .sheet-core .sheet-page-bio .sheet-pc-features .sheet-pc-feature .sheet-pc-feature-name {
    background: #7e2d40;
    color: white;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px;
}

.sheet-darkmode .sheet-core .sheet-page-bio .sheet-pc-custom-rolls .sheet-pc-tool,
.sheet-darkmode .sheet-core .sheet-page-bio .sheet-pc-features .sheet-pc-feature .sheet-pc-feature-name {
    background: #730d25;
}

.sheet-darkmode .sheet-core .sheet-page-bio .sheet-pc-custom-rolls .sheet-pc-tool span:nth-of-type(2):before{
    content: "(";
}

.sheet-darkmode .sheet-core .sheet-page-bio .sheet-pc-custom-rolls .sheet-pc-tool span:last-of-type::after{
    content: ")";
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-features .sheet-pc-feature .sheet-pc-feature-details {
    text-align: left;
    white-space: normal;
    line-height: 1.3;
    margin-top: 5px;
    font-size: 9px;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-features .sheet-pc-feature .sheet-pc-feature-source {
    opacity: .5;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-features .sheet-pc-feature .sheet-pc-feature-source::before {
    content: "(";
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-features .sheet-pc-feature .sheet-pc-feature-source::after {
    content: ")";
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-notes {
    grid-area: notes;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-notes .repitem + .repitem {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #dddddd;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-notes .sheet-pc-note {
    font-size: 11px;
}

.charsheet .sheet-core .sheet-page-bio .sheet-pc-notes .sheet-pc-note span:first-of-type {
    font-weight: bold;
    background: #dddddd;
    padding: 3px 5px;
    border-radius: 3px;
}

.sheet-darkmode .sheet-core .sheet-page-bio .sheet-pc-notes .sheet-pc-note span:first-of-type {
    background: #666666;
}

.charsheet .sheet-container-panel {
display: flex;
flex-direction: column;
min-height: 65px;
min-width: 0;
position: relative;
z-index: 0;
}

.charsheet .sheet-container-panel::before {
    border-image: url("https://raw.githubusercontent.com/Venator-Ignis/ROll20_JTTH_Sheet/main/src/sheet-box-border.png") 50 50 50 50 fill stretch;
    border-style: solid;
    border-width: 15px 15px;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.charsheet .sheet-container-panel .sheet-container-header {
    border-bottom: 2px solid #202020;
    color: #202020;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 4px;
    text-align: center;
    text-transform: uppercase;
}

.charsheet .sheet-container-panel .sheet-container-body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 2px;
    overflow: hidden;
    padding: 5px 10px;
}

.charsheet .sheet-container-panel .sheet-container-body .sheet-container-body-header {
    text-transform: uppercase;
    display: flex;
    color: #bab8b8;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    margin-bottom: 2px;
    display: none;
}

.charsheet .sheet-container-panel .sheet-container-body .sheet-container-body-header span {
    width: 100%;
}

.charsheet .sheet-container-panel .sheet-form-inline {
    border: 0;
    margin-left: -5px;
    margin-right: -5px;
    border-radius: 0;
}

.charsheet .sheet-container-panel .sheet-form-inline:not(:first-child) {
    margin-top: 5px;
}

.charsheet .sheet-container-panel .sheet-form-inline > .sheet-form-header {
    background: #dddddd;
    color: inherit;
    font-size: 9px;
    line-height: 14px;
}

.charsheet .sheet-container-panel .sheet-form-inline > .sheet-form-body {
    padding-bottom: 0;
}

.charsheet .sheet-core fieldset {
    position: relative;
}

.charsheet .sheet-core .repcontainer {
    flex-grow: 1;
}

.charsheet .sheet-core .repcontrol {
    border-color: #cccccc;
    border-top: 1px solid #cccccc;
    padding-top: 5px;
    margin-top: 5px;
}

.charsheet .sheet-core .repcontrol .btn {
    background: none;
    border-color: #cccccc;
    border-width: 1px;
    box-shadow: none;
    font-size: 9px;
    font-weight: bold;
    padding: 0 5px;
}

.charsheet .sheet-core .repcontrol .btn:hover {
    background: #e5fffb;
}

.charsheet .sheet-core .repitem:not(:first-of-type) {
    border-color: #cccccc;
}

.charsheet .sheet-core .repitem:not(:last-of-type) {
    margin-bottom: 2px;
}

.charsheet .sheet-core .repcontainer.editmode + .repcontrol .repcontrol_edit {
    background: #cf0101;
    border-color: #cf0101;
    color: white;
}

.charsheet .sheet-core .repcontainer.editmode .repitem .itemcontrol {
    align-items: center;
    border-bottom: 2px solid transparent;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    z-index: 2;
}

.charsheet .sheet-core .repcontainer.editmode .repitem .itemcontrol::before {
    background: rgba(126, 45, 64, 0.25);
    border-radius: 6px;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.charsheet .sheet-core .repcontainer.editmode .repitem .itemcontrol .btn {
    box-sizing: border-box;
    height: 18px;
    line-height: 16px;
    padding: 0;
    text-align: center;
    width: 36px;
}

.charsheet .sheet-core .repcontainer.editmode .repitem .itemcontrol .btn:not(:last-child) {
    margin-left: 10px;
}

.charsheet .sheet-core .repcontainer.editmode .repitem .sheet-fieldset-item {
    opacity: 0.25;
}

.charsheet .sheet-core .sheet-fieldset-item {
    display: flex;
    flex-direction: column;
    min-height: 18px;
}

.charsheet .sheet-core .sheet-fieldset-item > :last-child {
    margin-bottom: 0;
}
