.sheet-core {
    color: black;
    font-size: 13px;
    line-height: 15px;
    margin: 0;
    overflow: visible;
    padding: 0;
}

.sheet-core button[type=roll]:before{
    content: none !important;
}

.sheet-core input[type=number]::-webkit-inner-spin-button, 
.sheet-core input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none; 
    margin: 0; 
}

.sheet-darkmode .sheet-core{
    background-color: #1f1f1f;
    color: white;
}

.sheet-core .sheet-section-main {
    width: 800px;
}

.sheet-core .sheet-section-main .sheet-main-header{
    width: 800px;
    display: flex;
    margin-bottom: 5px;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-avatar,
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details{
    height: 125px;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details{
    width: 675px;
    display: grid;
    grid-template-areas: 'name name name'
    'ancestry ancestry ancestry'
    'mortal mortal level'
    'cultivator cultivator realm';
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail{
    display: flex;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail .sheet-detail-label{
    min-width: fit-content;
    font-size: 13px;
    align-content: space-around;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail .sheet-detail-value,
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail .sheet-detail-value input{
    width: 100%;
    height: 25px;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail .sheet-detail-value input{
    margin-left: 2px;
    background: none;
    border: none;
    border-bottom: solid 1px;
    font-weight: 600;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-name{
    grid-area: name;
}
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-ancestry_species{
    grid-area: ancestry;
}
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-mortal-path{
    grid-area: mortal;
}
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-mortal-level{
    grid-area: level;
}
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-cultivator-path{
    grid-area: cultivator;
}
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-cultivator-realm{
    grid-area: realm;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-mortal-level,
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-details .sheet-detail-cultivator-realm{
    margin-left: 5px;
}

.sheet-core .sheet-section-main .sheet-main-header .sheet-header-avatar,
.sheet-core .sheet-section-main .sheet-main-header .sheet-header-avatar img{
    width: 125px;
    max-width: 125px;
    height: 125px;
    max-height: 125px;
}

.sheet-pages {
    position: relative;
    width: 800px;
}

.sheet-pages::after {
    clear: both;
    content: '';
    display: block;
}

.sheet-pages .sheet-page {
    width: 800px;
}

.sheet-pages .sheet-page:nth-of-type(2) > input[type="radio"],
.sheet-pages .sheet-page:nth-of-type(2) > .sheet-page-label {
    margin-left: 16.667%;
} 

.sheet-pages .sheet-page:nth-of-type(3) > input[type="radio"],
.sheet-pages .sheet-page:nth-of-type(3) > .sheet-page-label {
    margin-left: 33.334%;
}

.sheet-pages .sheet-page:nth-of-type(4) > input[type="radio"],
.sheet-pages .sheet-page:nth-of-type(4) > .sheet-page-label {
    margin-left: 50%;
}

.sheet-pages .sheet-page:nth-of-type(5) > input[type="radio"],
.sheet-pages .sheet-page:nth-of-type(5) > .sheet-page-label {
    margin-left: 66.668%;
}

.sheet-pages .sheet-page:nth-of-type(6) > input[type="radio"],
.sheet-pages .sheet-page:nth-of-type(6) > .sheet-page-label {
    margin-left: 83.335%;
}

.sheet-pages .sheet-page > input[type="radio"] {
    height: 30px;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 16.667%;
    z-index: 1;
}

.sheet-pages .sheet-page > input[type="radio"]:hover ~ .sheet-page-label {
    background: #e5fffb;
    border-bottom-color: #dbfff9;
}

.sheet-darkmode .sheet-pages .sheet-page > input[type="radio"]:hover ~ .sheet-page-label {
    background: #677270;
    border-bottom-color: #5e6e6c;
}

.sheet-pages .sheet-page > .sheet-page-label {
    align-items: center;
    background: #dddddd;
    border-radius: 6px 6px 0 0;
    border: 2px solid #dddddd;
    color: #8a8a8a;
    display: flex;
    font-size: 11px;
    font-variant: small-caps;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    margin: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 16.667%;
    border-left-color: white;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: lightgrey;
}

.sheet-darkmode .sheet-pages .sheet-page > .sheet-page-label{
    background: #333333;
    border: 2px solid #444444;
    color: #e6e6e6;
    border-left-color: black;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: #333333;
}

.sheet-pages .sheet-page > input[type="radio"]:checked ~ .sheet-page-label {
    background: white;
    border-color: #575757;
    border-bottom-color: white;
    color: black;
}

.sheet-darkmode .sheet-pages .sheet-page > input[type="radio"]:checked ~ .sheet-page-label{
    background: #444444;
    border-color: black;
    border-bottom-color: #333333;
    color: #e6e6e6;
}

.sheet-pages .sheet-page > input[type="radio"]:checked {
    cursor: auto;
}

.sheet-pages .sheet-page > input[type="radio"]:checked ~ .sheet-page-content {
    display: block;
}

.sheet-pages .sheet-page .sheet-page-content {
    display: none;
}

.sheet-core .sheet-pages .sheet-page-mortal .sheet-page-content .sheet-well-attributes,
.sheet-core .sheet-pages .sheet-page-cultivator .sheet-page-content .sheet-well-attributes{
    display: flex;
}

.sheet-core .sheet-pages .sheet-page-mortal .sheet-page-content .sheet-well-attributes .sheet-container-attribute:first-of-type,
.sheet-core .sheet-pages .sheet-page-cultivator .sheet-page-content .sheet-well-attributes .sheet-container-attribute:first-of-type{
    margin-left: 0;
}

.sheet-core .sheet-pages .sheet-page-mortal .sheet-page-content .sheet-well-attributes .sheet-container-attribute:last-of-type,
.sheet-core .sheet-pages .sheet-page-cultivator .sheet-page-content .sheet-well-attributes .sheet-container-attribute:last-of-type{
    margin-left: 0;
}

.sheet-darkmode .sheet-core .sheet-pages .sheet-page-mortal .sheet-page-content .sheet-well-attributes .sheet-container-attribute,
.sheet-darkmode .sheet-core .sheet-pages .sheet-page-cultivator .sheet-page-content .sheet-well-attributes .sheet-container-attribute{
    background-image: url(https://raw.githubusercontent.com/Venator-Ignis/ROll20_JTTH_Sheet/main/src/dark-sheet-box-border.png);
    width: 134px;
    border: 0;
    margin: 0 !important;
    margin-top: 35px !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    border-radius: 5px;
    position: relative;
    padding-bottom: 10px;
    height: 85px;
    text-align: center;
}

.sheet-core .sheet-pages .sheet-page-mortal .sheet-page-content .sheet-well-attributes .sheet-container-attribute,
.sheet-core .sheet-pages .sheet-page-cultivator .sheet-page-content .sheet-well-attributes .sheet-container-attribute{
    background: url(https://raw.githubusercontent.com/Venator-Ignis/ROll20_JTTH_Sheet/main/src/sheet-box-border.png);
    width: 134px;
    border: 0;
    margin: 0 !important;
    margin-top: 35px !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    border-radius: 5px;
    position: relative;
    padding-bottom: 10px;
    height: 85px;
    text-align: center;
}


.sheet-core .sheet-section-roll {
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: -18px;
    height: 18px;
}

.sheet-core .sheet-section-roll-whisper label {
    position: relative;
}

.sheet-core .sheet-section-roll-whisper label:first-of-type span {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid #b7b7b7;
}

.sheet-core .sheet-section-roll-whisper label:last-of-type span {
    border-radius: 0 4px 4px 0;
}

.sheet-core .sheet-section-roll-whisper label span {
    background: #dddddd;
    padding: 1px 5px;
    font-weight: bold;
    border: 1px solid #b7b7b7;
    border-left: 0;
    color: #909090;
}

.sheet-core .sheet-section-roll-whisper label input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.sheet-core .sheet-section-roll-whisper label input:checked ~ span {
    background: #555555;
    color: white;
    border-color: #555555;
}

.sheet-core .sheet-section-roll-whisper label input:not(:checked):hover ~ span {
    color: black;
}  

.sheet-core .sheet-roll-toggle[value*="whispertoggle"] + .sheet-section-roll-whisper {
    display: flex;
}

.sheet-core .sheet-section-roll-whisper {
    margin-left: 3px;
    display: flex;
}

.sheet-core .sheet-container-attribute .sheet-container-header button {
    background: none;
    border: 0;
    box-shadow: none;
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

.sheet-core .sheet-container-attribute .sheet-container-body {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center; 
    height: 50px;
}

.sheet-core .sheet-container-attribute .sheet-container-footer {
    padding: 5px 22px 5px; 
}

.sheet-core .sheet-container-attribute .sheet-container-footer input {
    background: none;
    border: 0;
    box-shadow: none;
    font-weight: bold;
    padding: 0;
    text-align: center;
    width: 100%;
    border-radius: 10%; 
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sheet-core .sheet-container-attribute .sheet-container-footer input:hover, 
.sheet-core .sheet-container-attribute .sheet-container-footer input:focus {
    background: #e5fffb; 
}

.sheet-core .sheet-container-attribute .sheet-container-footer input:hover ~ span, 
.sheet-core .sheet-container-attribute .sheet-container-footer input:focus ~ span {
    display: none; 
}

.sheet-core .sheet-container-attribute .sheet-container-footer span {
    display: block;
    margin-top: -18px;
    text-align: center;
    background: white;
    border-radius: 10%;
    position: relative;
    font-weight: bold; 
}

.sheet-core .sheet-container-attribute .sheet-container-footer span:hover {
    display: none; 
}

.sheet-core .sheet-button-attribute-title{
    font-size: 10px;
}

.sheet-darkmode .sheet-core .sheet-button-attribute-title,
.sheet-darkmode .sheet-core .sheet-detail-value{
    color: white;
}

.sheet-pages .sheet-page .sheet-page-content .sheet-container-columns{
    display: flex;
    flex-direction: row;
}

.sheet-pages .sheet-page .sheet-page-content .sheet-container-columns .col1,
.sheet-pages .sheet-page .sheet-page-content .sheet-container-columns .col3{
    width: 225px;
}

.sheet-pages .sheet-page .sheet-page-content .sheet-container-columns .col2{
    width: 350px;
}

.charsheet .sheet-core .sheet-container-skills .sheet-skill{
    height: 20px;
}

.charsheet .sheet-core .sheet-container-skills .sheet-skill button{
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
}

.charsheet .sheet-core .sheet-container-skills .sheet-skill button > :last-child::before {
    content: "(";
}

.charsheet .sheet-core .sheet-container-skills .sheet-skill button span:last-child{
    border-radius: 5px;
    background: #dddddd;
    float: right;
    max-width: 89px;
    overflow: auto;
    text-overflow: ellipsis;
}

.sheet-darkmode .sheet-core .sheet-container-skills .sheet-skill button span:last-child{
    background: #444444;
}

.charsheet .sheet-core .sheet-container-skills .sheet-skill button span:last-child::after {
    content: ")";
}
